*{
    margin: 0;
    padding: 0;
}

.header{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header__top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 23px;
    margin-bottom: 26px;
}

.header__image{
    display: flex;
}

.header__fon{
    background-image: url(images/фон.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 353px;
}

.header__nav{
    display: flex;
    gap: 22px;
}

.header__links{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    gap: 22px;
}

.header__links:hover{
    color: rgb(44, 205, 44);
}

.header__h1{
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: left;
    width: 200px;
    white-space: pre-line;
    padding-top: 89px;
    padding-left: 88px;
}

.header__text{
    padding-left: 88px;
    padding-top: 12px;
}

.header__btn{
    margin-left: 88px;
    margin-top: 12px;
    background: rgba(217, 217, 217, 1);  
    border: none;
    width: 150px;
    border-radius: 30px;
    height: 31px;
}